<!DOCTYPE html>
<html lang="pt" ng-app="persons">

<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/ladda/dist/ladda-themeless.min.css">
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixes-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">Contacts</a>
            </div>
        </div>
    </nav>

    <div class="container main-content ng-cloak">
        <div class="row">
            <!-- LISTING -->
            <div class="col-md-8" ng-controller="ListCtrl as list">
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-inline well well-sm">
                            <span class="glyphicon glyphicon-search"></span>
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" ng-model="list.search" placeholder="Search...">
                            </div>
                        </form>
                        <table class="table table-bordered"
                            infinite-scroll="list.loadMore()"
                            infinite-scroll-distance="1"
                            infinite-scroll-disabled="!list.contacts.hasMore || list.contacts.isLoading"
                            infinite-scroll-immediate-check="true">
                            <tr>
                                <th ng-click="list.changeOrder('id')" style="width: 57px;">
                                    #ID
                                    <span>
                                        <i class="glyphicon glyphicon-chevron-up" ng-show="list.orderBy === '-id'"></i>
                                        <i class="glyphicon glyphicon-chevron-down" ng-show="list.orderBy === '+id'"></i>
                                    </span>
                                </th>
                                <th ng-click="list.changeOrder('fullName')">
                                    Name
                                    <span>
                                        <i class="glyphicon glyphicon-chevron-up" ng-show="list.orderBy === '-fullName'"></i>
                                        <i class="glyphicon glyphicon-chevron-down" ng-show="list.orderBy === '+fullName'"></i>
                                    </span>
                                </th>
                                <th ng-click="list.changeOrder('email')">
                                    Email
                                    <span>
                                        <i class="glyphicon glyphicon-chevron-up" ng-show="list.orderBy === '-email'"></i>
                                        <i class="glyphicon glyphicon-chevron-down" ng-show="list.orderBy === '+email'"></i>
                                    </span>
                                </th>
                                <th>Birthday</th>
                            </tr>

                            <tr ng-repeat="person in list.contacts.persons track by person.id" ng-style="{
                                    'background-color': (person.id === list.contacts.selectedPerson.id ? 'lightgray' : '')
                                }" ng-click="list.contacts.selectPerson(person)">
                                <td>{{person.id}}</td>
                                <td class="capitalize">{{person.name}}</td>
                                <td>{{person.email}}</td>
                                <td>{{person.birthdate | date:'longDate'}}</td>
                            </tr>
                        </table>

                        <div ng-if="list.contacts.persons.length === 0 && !list.contacts.isLoading">
                            <div class="alert alert-info">
                                <p class="text-center">
                                    No results found for search term '{{list.search}}'
                                </p>
                            </div>
                        </div>

                        <div class="spinner" ng-show="list.contacts.isLoading">
                            <span us-spinner="{ radius:8, width: 5, length: 3, lines: 9 }"></span>
                            <p>Loading...</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- DETAILS -->
            <div class="col-md-4" ng-controller="DetailCtrl as detail">
                <div class="panel panel-default" ng-show="detail.contacts.selectedPerson">
                    <div class="panel-heading">
                        Details
                        <button class="btn btn-danger btn-sm pull-right"
                            ladda="detail.contacts.isDeleting"
                            ng-click="detail.remove()">
                            <span ng-if="detail.contacts.isDeleting">Deleting</span>
                            <span ng-if="!detail.contacts.isDeleting">Delete</span>
                        </button>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" ng-submit="detail.save()" novalidate>
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="name"
                                        ng-model="detail.contacts.selectedPerson.name"
                                        required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" name="email"
                                        ng-model="detail.contacts.selectedPerson.email"
                                        required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="photo" class="col-sm-2 control-label">Photo</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="photo"
                                        ng-model="detail.contacts.selectedPerson.photo">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sex" class="col-sm-2 control-label">Sex</label>
                                <div class="col-sm-10">
                                    <select class="form-control" name="sex"
                                        ng-model="detail.contacts.selectedPerson.sex">
                                        <option value="M">Male</option>
                                        <option value="F">Famale</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="birthdate" class="col-sm-2 control-label">Birthday</label>
                                <div class="col-sm-10">
                                    <input type="tel" class="form-control" name="birthdate"
                                        bs-datepicker
                                        ng-model="detail.contacts.selectedPerson.birthdate">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phonenumber" class="col-sm-2 control-label">Phone</label>
                                <div class="col-sm-10">
                                    <input type="tel" class="form-control" name="phonenumber"
                                        ng-model="detail.contacts.selectedPerson.phonenumber">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="address" class="col-sm-2 control-label">Address</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="address"
                                        ng-model="detail.contacts.selectedPerson.address">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="city" class="col-sm-2 control-label">City</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="city"
                                        ng-model="detail.contacts.selectedPerson.city">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="country" class="col-sm-2 control-label">Country</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="country"
                                        ng-model="detail.contacts.selectedPerson.country">
                                </div>
                            </div>
                            <div class="buttons">
                                <button class="btn btn-primary btn-block"
                                    ladda="detail.contacts.isSaving" type="submit">
                                    <span ng-if="detail.contacts.isSaving">Saving</span>
                                    <span ng-if="!detail.contacts.isSaving">Save</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="app.bundle.js"></script>
</body>

</html>
