.capitalize { text-transform: capitalize; }
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
tr > td > .alert.alert-info { margin-bottom: 0; }
