<!-- DETAILS -->
<div class="col-md-8 col-md-offset-2" ng-controller="DetailCtrl as detail">
    <div class="panel panel-default" ng-show="contacts.selectedPerson">
        <div class="panel-heading">
            Details
            <!-- DELETE BTN -->
            <button class="btn btn-danger btn-sm pull-right"
                ladda="contacts.isDeleting"
                ng-click="detail.remove()">
                <span ng-if="contacts.isDeleting">Deleting</span>
                <span ng-if="!contacts.isDeleting">Delete</span>
            </button>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" ng-submit="detail.save()" novalidate>
                <ng-include src="'templates/form.tpl.html'"></ng-include>
            </form>
        </div>
    </div>
</div>
