<div class="col-md-12">

    <!-- CONTACTS -->
    <div class="row"
        infinite-scroll="list.loadMore()"
        infinite-scroll-distance="1"
        infinite-scroll-disabled="!contacts.hasMore || contacts.isLoading"
        infinite-scroll-immediate-check="true">
        <card ng-repeat="person in contacts.persons track by person.id" user="person"></card>
    </div>

    <!-- EMPTY LIST -->
    <div ng-if="contacts.persons.length === 0 && !contacts.isLoading">
        <div class="alert alert-info">
            <p class="text-center">
                No results found for search term '{{contacts.search}}'
            </p>
        </div>
    </div>

    <!-- LOADING SPINNER -->
    <spinner is-loading="contacts.isLoading"></spinner>
</div>
